.xyz {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: red;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 50%;
}